<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <% if (typeof message !=='undefined' ) { %>
            <p>
                <%= message %>
            </p>
            <% } %>


                <h1>Your food shopping</h1>
                <ul>
                    <% foods.forEach(food=> { %>
                        <li>
                            <a href="foods/<%= food._id %>">
                                <%= food.name %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
</body>

</html>